body{
background-image:url("quill.png");
}
h1{font-family:Harrington;color:white;font-size:55;text-align:left;text-decoration:underline;}
p{font-family:gabriola;color:white;font-size:32;}
ul{
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width:78%;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.pos{
position:relative;
left:600px;
top:-130px;
}